*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(253, 225, 199);
}

.navbar img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid black;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* color: rgb(104, 35, 35); */
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: rgba(245, 143, 92, 0.781);
    color:black;
    font-size: 25px;
    border: none;
    cursor: pointer;
    
}
.dropbtn:hover{
    background-color:  rgb(238, 148, 104);
    color: rgb(104, 35, 35);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 189, 157, 0.781);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(238, 123, 123, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: rgb(104, 35, 35);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.4s ease-in;
}

.dropdown-content a:hover {
    background-color: rgba(255, 115, 50, 0.918);
    color: rgb(104, 35, 35);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:  rgba(250, 139, 84, 0.781);
    
}
.container{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    flex: 1;
    text-decoration: none;
}
.container a{
    font-size: 25px;
    text-decoration: none;
}
.container a:hover{
    color: rgb(104, 35, 35);
}


input[title="Type to search"]{
    border: 1px solid rgb(212, 132, 103);
    padding: 10px;
    border-radius: 8px 0px 0px 8px;
   
    color: rgb(104, 35, 35) !important;
}

.searchbar>button{
    background-color: orangered;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 0px 8px 8px 0px;
}
.searchbar{
    display: flex;
}
.dashboard{
    background-color:  rgba(243, 118, 55, 0.781);
    padding: 35px 40px;
}
.searchbar input::placeholder{
    color: rgb(104, 35, 35);
}
.search{
    border: 1px solid grey;
    border-radius:5px 0px 0px 5px;
    background-color: rgb(236, 230, 223);
    color: rgb(8, 8, 8);
}
.btn:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(241, 121, 47);
}
.searchbar>button{
    background-color: rgb(150, 83, 59);
    color: white;
    border: none;
    border-radius: 0px 8px 8px 0px;
}
.searchbar{
    display: flex;
    padding: 1%;
}

.title{
    font-size: 40px;
    text-align: center;
    font-family: "Chela One", system-ui;
    color: rgb(104, 35, 35);
    text-shadow: -6px 5px 3px rgb(139, 139, 137);
    font-size: 56px;
    margin-top: 80px;

}
.mywords{
    font-size: 20px;
    font-family: "Playfair Display", serif;
    margin: 50px;
    margin-bottom: 250px;
}
span{
    font-size: 25px;
    font-weight: bold;
}
img{
    height: 420px;
    width: 100%;
}
a{
    color: black;
}

