body{
    background-color:rgb(253, 225, 199);
}
.main{
    border: 1px solid rgb(117, 114, 114);
    text-align: center;
    margin-left: 30%;
    color: rgb(104, 35, 35);
    margin-right: 30%;
    margin-top: 8%;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: rgba(255, 106, 25, 0.596);
}
.c1{
    margin: 10px;
    padding: 4px 10px;
}
.c2{
    margin: 10px;
    padding: 4px 10px;
}
.c3{
    margin: 10px;
    padding: 4px 10px;
}
.c4{
    margin: 10px;
    padding: 4px 10px;
}
.c5{
    margin: 10px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(104, 35, 35);
    border: 1px solid rgb(117, 114, 114);
}
p{
    font-size: 19px;
}