body{
  background-color: rgb(253, 225, 199);
}
.title{
  text-align: center;
  padding-top: 20px;
  font-family: cursive, bold;
  font-size: 40px;
  color: rgb(104, 35, 35);
}
.content{
  font-size: 20px;
  font-style: italic;
  font-family: cursive;
  margin: 15px 80px 150px 80px ;
}
.feedback{
  position: absolute;
  right: 0;
  margin-bottom: 100px;
}
i{
margin-right: 30px; 
}