body{
    background-color: rgb(163, 159, 156);
    margin: 0;
    padding: 0;
    align-items: center;
}

.title{
    text-align: center;
    padding-top: 20px;
}
.title h1{
    font-family: cursive, bold;
    font-size: 40px;
}
.main{
    background-color: rgba(247, 182, 139, 0.884);
}
.content{
   display: flex;
}
hr{
    border-width: 3px;
}
.words{
    font-size: 20px;
    font-style: italic;
    font-family: cursive;
    margin: 15px 80px 150px 80px ;
}
.words h3{
    text-align: right;
    margin-right: 35px;
}
.words i{
    font-size:23px ;
}